<div class="main">
  <div class="login-page">
    <div class="texto">
      <h2>Name Saver</h2>
    </div>
    <div class="form">
      <form [formGroup]="nameForm" (ngSubmit)="FormSubmit(nameForm.value)">
        <div class="input-group">
          <label>Name
            <input type="text" (keyup)="ErrorCheck()" formControlName="name">
          </label>
          <div *ngIf="err" class="alert">{{error}}</div>
          <div class="alert alert-success" *ngIf="status">
            <strong>Success!</strong> Indicates, successfully Stored.
          </div>
        </div>
        <div class="navbar-brand">
          <button type="submit" class="btn btn-warning" [disabled]="!nameForm.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>